<!--@var title={-->任务中心<!--@};-->

<!--@var header={-->

<!--@};-->

<!--@var footer={-->
<script>
    $(document).ready(function () {
        'use strict';

        $('#newjobform').bind('submit', function(){
            $.ajax({
                url: basePath + '/post/job/create',
                type: 'post',
                data: $(this).serialize(),
                dataType: 'json'
            }).done(function (data) {
                console.log(data);
                if (data.stat<0) alert(data.msg);
                if (data.stat>=0) window.location.href = basePath + '/job';
            });
            return false;
        });

    });
</script>
<!--@};-->

<!--@var container={-->
<div>
    <form id="newjobform" autocomplete="off" class="form-interval">
        <label for="url" hidden></label>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">链接</span>
            <input type="text" class="form-control" placeholder="Remote url" aria-describedby="basic-addon1" id="url" name="url"/>
        </div>
        <label for="name" hidden></label>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">名称</span>
            <input type="text" class="form-control" placeholder="Save file name" aria-describedby="basic-addon1" id="name" name="name"/>
        </div>
        <label for="suffix" hidden></label>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">后缀</span>
            <input type="text" class="form-control" placeholder="Save file suffix" aria-describedby="basic-addon1" id="suffix" name="suffix">
        </div>
        <label for="path" hidden></label>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon4">路径</span>
            <input type="text" class="form-control" placeholder="Save file path" aria-describedby="basic-addon1" id="path" name="path" value="download">
        </div>
        <label for="cookie" hidden></label>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon5">Cookie</span>
            <input type="text" class="form-control" placeholder="Cookie" aria-describedby="basic-addon1" name="cookie" id="cookie">
        </div>
        <div>
            <label for="cli" hidden></label>
            <select name="cli" id="cli" class="form-control" >
                <option data-style="header">Please selector client
                    <!--@
                    for(var i=0; i<clis.~size; i++) {
                    -->
                <option value="${clis[i].id}">${clis[i].name} -- ${clis[i].ip}</option>
                    <!--@
                    }
                    -->
            </select>
        </div>
        <div class="btn-seat-box">
            <button class="btn btn-default" id="create">新的任务</button>
        </div>
        <input type="hidden" name="type" value="1"/>
    </form>
</div>
<!--@};-->

<!--@include("/layout/layout_default.html", {title: title, header: header, container: container, footer: footer}){}-->
