<!--@var title={-->任务中心<!--@};-->

<!--@var header={-->

<!--@};-->

<!--@var footer={-->

<!--@};-->

<!--@var container={-->
<div>
    <button type="button" class="btn btn-default" onclick="window.location.href='${basePath}/job/create';">Create</button>
</div>
<br/>
<div>
<ul class="list-group">
    <!--@
    for(var i=0; i<p.list.~size; i++) {
    -->
        <li class="list-group-item">
            <div class="panel panel-default">
                <div class="panel-heading">${p.list[i].name}.${p.list[i].suffix}</div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td width="65px">url:</td>
                            <td class="url-long">${p.list[i].url}</td>
                        </tr>
                        <tr>
                            <td>cookie:</td>
                            <td>${p.list[i].cookie}</td>
                        </tr>
                        <tr>
                            <td>path:</td>
                            <td>${p.list[i].path}</td>
                        </tr>
                        <tr>
                            <td>type:</td>
                            <td>${p.list[i].type}</td>
                        </tr>
                        <tr>
                            <td>stat:</td>
                            <td>${p.list[i].stat}</td>
                        </tr>
                    </table>
                </div>
            </div>
    <!--@
    }
    -->
    </li>
</ul>
</div>
${pagination(request, p.totalRow, p.totalPage, p.pageNumber, p.pageSize, 'page')}
<!--@};-->

<!--@include("/layout/layout_default.html", {title: title, header: header, container: container, footer: footer}){}-->
