<!--@var title={-->任务中心<!--@};-->

<!--@var header={-->

<!--@};-->

<!--@var footer={-->

<!--@};-->

<!--@var container={-->
<div>
    <a href="${basePath}/job/create" class="btn btn-default">创建任务</a>
</div>
<br/>
<div>
<ul class="list-group">
    <!--@
    for(var i=0; i<p.list.~size; i++) {
    -->
        <li class="list-group-item">
            <div class="panel panel-default">
                <div class="panel-heading">${p.list[i].name}.${p.list[i].suffix}</div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td width="65px">链接:
                            <td class="long-ovar">${p.list[i].url}
                        <tr>
                            <td>路径:
                            <td>${p.list[i].path}
                        <tr>
                            <td>类型:
                            <td>${p.list[i].type}
                        <tr>
                            <td>状态:
                            <td>${p.list[i].stat}
                        <tr>
                            <td>cookie:
                            <td  class="long-ovar">${p.list[i].cookie}
                    </table>
                </div>
            </div>
    <!--@
    }
    -->
    </li>
</ul>
</div>

${pagination(request, p.totalRow, p.totalPage, p.pageNumber, p.pageSize, 'page')}

<!--@};-->

<!--@include("/layout/layout_default.html", {title: title, header: header, container: container, footer: footer}){}-->
