<!--@var title={-->首页<!--@};-->

<!--@var header={-->

<!--@};-->

<!--@var footer={-->

<!--@};-->

<!--@var container={-->
<!--<div class="container-fluid">-->
    <!--<div class="row">-->
        <!--<div class="col-sm-3 col-md-2 sidebar">-->
            <!--<ul class="nav nav-sidebar">-->
                <!--<li class="active"><a href="${basePath}/job">任务 <span class="sr-only">(current)</span></a></li>-->
                <!--<li><a href="${basePath}/cli">下载机</a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
            <!--<h1 class="page-header">首页</h1>-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--@};-->

<!--@include("/layout/layout_default.html", {title: title, header: header, container: container, footer: footer}){}-->