<!--@var title={-->加入 JGET<!--@};-->

<!--@var header={-->
<style type="text/css">
    body {
        background-color: #DADADA;
    }
    body > .grid {
        height: 100%;
    }
    .image {
        margin-top: -100px;
    }
    .column {
        max-width: 450px;
    }
    .container {
        margin-top: 5px;
    }
</style>
<!--@};-->

<!--@var footer={-->
<script>
    $(document).ready(function () {
        'use strict';
        $('#regform').bind('submit', function(){
            $.ajax({
                url: basePath + '/post/account/reg',
                type: 'post',
                data: $(this).serialize(),
                dataType: 'json'
            }).done(function (data) {
                $('.message').html(data.msg);
                if (data.stat>=0) window.location.href = basePath + '/account/signin';
            });
            return false;
        });
    });
</script>
<!--@};-->

<!--@var container={-->

    <div class="panel panel-primary jget-panel panel-signin">
        <div class="panel-heading">加入</div>
        <div class="panel-body">
            <form id="regform" class="form-interval form-signin">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" placeholder="账户" aria-describedby="basic-addon1" name="name">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon4"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="text" class="form-control" placeholder="邮箱" aria-describedby="basic-addon1" name="email">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon5"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="text" class="form-control" placeholder="密码" aria-describedby="basic-addon1"name="passwd">
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">加入</button>
                <div class="message">
                    <a href="${basePath}/account/signin">登入</a>
                </div>
            </form>
        </div>
    </div>

    </div>
</div>


<!--@};-->

<!--@include("/layout/layout_account.html", {title: title, header: header, container: container, footer: footer}){}-->
