<!--@var title={-->加入 JGET<!--@};-->

<!--@var header={-->
<style type="text/css">
    body {
        background-color: #DADADA;
    }
    body > .grid {
        height: 100%;
    }
    .image {
        margin-top: -100px;
    }
    .column {
        max-width: 450px;
    }
    .container {
        margin-top: 5px;
    }
</style>
<!--@};-->

<!--@var footer={-->
<script>
    $(document).ready(function () {
        'use strict';
        $('#regform').bind('submit', function(){
            $.ajax({
                url: basePath + '/post/account/reg',
                type: 'post',
                data: $(this).serialize(),
                dataType: 'json'
            }).done(function (data) {
                $('.message').html(data.msg);
                if (data.stat>=0) window.location.href = basePath + '/account/signin';
            });
            return false;
        });
    });
</script>
<!--@};-->

<!--@var container={-->

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
            <div class="content">
                加入 JGET
            </div>
        </h2>
        <form class="ui large form" id="regform">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="name" placeholder="账户">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="mail icon"></i>
                        <input type="text" name="email" placeholder="邮箱">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="passwd" placeholder="密码">
                    </div>
                </div>
                <button class="ui fluid large teal submit button">加入</button>
            </div>

            <div class="ui error message"></div>

        </form>

        <div class="ui message">
             <a href="${basePath}/account/signin">登入</a>
        </div>
    </div>
</div>


<!--@};-->

<!--@include("/layout/layout_account.html", {title: title, header: header, container: container, footer: footer}){}-->
