<!--@var title={-->登入 JGET<!--@};-->

<!--@var header={-->
<style type="text/css">
    body {
        background-color: #DADADA;
    }
    body > .grid {
        height: 100%;
    }
    .image {
        margin-top: -100px;
    }
    .column {
        max-width: 450px;
    }
    .container {
        margin-top: 5px;
    }
</style>
<!--@};-->

<!--@var footer={-->
<script>
    $(document).ready(function () {
        'use strict';
        $('#signform').bind('submit', function () {
            $.ajax({
                url: basePath + '/post/account/signin',
                type: 'post',
                data: $(this).serialize(),
                dataType: 'json'
            }).done(function (data) {
                $('.message').html(data.msg);
                if (data.stat>=0) window.location.href = basePath + "/";
            });
            return false;
        });
    });
</script>
<!--@};-->

<!--@var container={-->

    <div class="panel panel-primary jget-panel">
        <div class="panel-heading">Please sign in</div>
        <div class="panel-body">
            <form class="form-signin" id="signform">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">#</span>
                    <input type="text" class="form-control" placeholder="Username" name="name" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">?</span>
                    <input type="password" class="form-control" placeholder="Password" name="passwd" aria-describedby="basic-addon1">
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <div class="message">
                    <a href="${basePath}/account/reg">加入 JGET</a>
                </div>
            </form>
        </div>
    </div>

<!--@};-->

<!--@include("/layout/layout_account.html", {title: title, header: header, container: container, footer: footer}){}-->
