<#compressor>
<!doctype html>
<html lang="zh-hant">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="renderer" content="webkit"/>
<title>${title} - 本地离线下载服务</title>
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="${resPath}/css/jgetstyle.css">
${header}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>-->
            <a class="navbar-brand" href="${basePath}/">JGet | 本地离线下载服务</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--@
                if (usr.id!''!='') {
                -->
                <li><a>[ <strong>${usr.name}</strong> ]</a></li>
                <!--@
                } else {
                -->
                <p><a href="${basePath}/account/reg">加入JGet</a>
                <p><a href="${basePath}/account/signin">登入</a>
                    <!--@ } -->
                <li><a href="${basePath}/account/out?u=${usr.name}&amp;i=${usr.id}">退出</a></li>
            </ul>
            <!--<form class="navbar-form navbar-right">-->
                <!--<input type="text" class="form-control" placeholder="Search...">-->
            <!--</form>-->
        </div>
    </div>
</nav>

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <!--<li class="active"><a href="${basePath}/job">任务 <span class="sr-only">(current)</span></a></li>-->
                    <li><a href="${basePath}/job">任务</a></li>
                    <li><a href="${basePath}/cli">下载机</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">JGET</h1>
                ${container}
            </div>
        </div>
    </div>
</div>
<footer>

</footer>
<script>var basePath='${basePath}', resPath='${resPath}';</script>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
${footer}
</body>
</html>
</#compressor>
