.panel{
    max-width: 400px;
    margin: 0px auto;
}
.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0px auto;
}

.form-signin .input-group{
    margin: 10px auto;
}

.form-signin button{
    margin: 10px auto;
}

.form-signin .message{
    text-align: right;
    margin: 10px auto;
}



